@import "src/app/scss/app";
@import "src/app/scss/colors";

#research-data-chips {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    background-color: $header-color;

    #research-data-by {
        margin-right: 10px;
        color: $white;
    }
}
