@import "src/app/scss/app";
@import "src/app/scss/colors";
@import "src/app/scss/text";

#database-chips {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: -15px;
}

#database-oa {
  padding: 4px 10px 4px 44px;
  margin: 10px 10px 0;
}

#database-anonymous {
  width: fit-content;
  min-width: 35%;
  max-width: 60%;
  padding: 16px;
  margin: 4px auto;
  font-weight: 700;
  text-align: center;
}

#database {
  column-width: 220px;
  list-style-type: none;

  .database-letter {
    display: inline-block;
    width: 211px;
    padding: 2px 5px 2px 2px;
    margin: 5px 5px 0;
    font-weight: 700;
    break-inside: avoid-column;

    .database-letter-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      color: $text;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    .database-entry {
      z-index: 1;
      text-decoration: none;

      .database-entry-content {
        position: relative;
        width: 211px;
        padding: 2px 5px 2px 2px;
        margin: 5px 5px 0;
        line-height: 40px;
        vertical-align: middle;
      }

      .database-entry-content-inner {
        display: flex;
        flex-direction: column;
        min-height: 54px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
      }

      .database-entry-text {
        max-width: 80%;
        height: 2.5rem;
        padding: 0;
        margin-left: auto;
        font-size: 12px;
        font-weight: 400;
        line-height: 2rem;
        text-align: right;
        vertical-align: middle;
      }
    }

    .database-icon {
      z-index: 0;
      display: flex;
      pointer-events: none;
      transform: translate(10px, -26px);
    }

    .database-icon-oa {
      margin-right: 4px;
      margin-left: auto;
      pointer-events: auto;
    }

    .database-icon-favourite {
      margin-top: 2px;
      margin-right: 2px;
      pointer-events: auto;
    }
  }
}
