@import "src/app/scss/colors";

footer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 4.2%;
  margin: 0 auto;
  color: $white;
  text-align: center;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 0 0;
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0 10px;

      #contact-mailto {
        color: $white;
        text-decoration: none;
      }
    }

    li:not(:last-child) {
      border-right: 1px solid $white;
    }
  }

  svg {
    color: $white;
  }
}

@media screen and (width <= 550px) {
  footer {
    a {
      display: none;
    }

    div {
      display: none;
    }

    ul {
      margin-right: auto;
      margin-left: auto;

      li a {
        display: inline;
      }
    }
  }
}
