@import "src/app/scss/colors";

.favourite-button-container {
  display: inline;
  width: 20px;
  height: 20px;
  transition: transform 75ms;
}

.favourite-button-container:hover {
  transform: scale(1.2);
}

.favourite-button-container-animation {
  animation: beat 225ms;
}

@keyframes beat {
  50% {
    transform: scale(1.4);
  }
}

.favourite-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: #0000;
  border: none;
}

.favourite-button-icon {
  color: $grey;
}

.favourite-button-icon-active {
  color: $cnrs-secondary-blue;
}
