@import "src/app/scss/colors";
@import "src/app/scss/functions";

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 23px 50px 23px 30px;

  #header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;

    a img {
      width: auto;
      height: 100px;
    }

    div p {
      align-self: center;
      padding-left: 42px;
      font-size: 22px;
      color: $white;
    }
  }

  #header-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;

    .header-nav {
      margin-top: auto;
      margin-bottom: auto;

      .header-button-icon {
        margin-right: 6px;
        margin-left: 6px;
        background: #0000;
      }

      #user-button {
        padding: 0;
        margin: 6px;
        border: #0000 solid 4px;
        border-radius: 160px;
      }

      #user-button:hover {
        background-color: shade-color($cnrs-secondary-light-blue, 35%);
        border: shade-color($cnrs-secondary-light-blue, 35%) solid 4px;
      }

      #user-button-active {
        padding: 0;
        margin: 6px;
        background-color: shade-color($cnrs-secondary-light-blue, 50%);
        border: shade-color($cnrs-secondary-light-blue, 50%) solid 4px;
        border-radius: 160px;
      }

      .user-button-legacy:hover {
        background-color: shade-color($legacy, 35%);
        border: shade-color($legacy, 35%) solid 4px;
      }

      .user-button-active-legacy {
        background-color: shade-color($legacy, 50%);
        border: shade-color($legacy, 50%) solid 4px;
      }

      .header-button {
        padding: 4px;
        margin: 6px;
        font-family: "Source Sans Pro", sans-serif;
        color: $white;
        text-decoration: none;
        background: linear-gradient($white, $white) no-repeat 0 100%;
        background-size: 0 2px;
        border: #0000 solid 4px;
        border-radius: 0;
        transition: background-size .3s ease;
      }

      #header-button-active,
      .header-button:hover {
        background-size: 100% 2px;
      }

      svg {
        color: $white;
      }
    }
  }
}

@media screen and (width <= 1350px) {
  header {
    #header-left {
      div {
        display: none;
      }
    }
  }
}

@media screen and (width <= 850px) {
  header {
    #header-left {
      display: none;
    }

    #header-right {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
