// Theme variable
$text: var(--text) !default;
$background: var(--background) !default;
$background-nav: var(--background-nav) !default;
$link: var(--link) !default;
$nav-button-active: var(--nav-button-active) !default;
$nav-button-hover: var(--nav-button-hover) !default;
$button-background: var(--button-background) !default;
$button-background-hover: var(--button-background-hover) !default;
$table-border: var(--table-border) !default;

$lightest-white: #f5f5ff !default;
$white: #fff !default;
$black: #000 !default;

$grey: #c0c0d0 !default;

$legacy: #f3ff33 !default;

$cnrs-primary-dark: #00284b !default;
$cnrs-primary-light: #64c3dc !default;

$cnrs-secondary-light-blue: #c8e6e6 !default;
$cnrs-secondary-blue: #2d7dc3 !default;
$cnrs-secondary-dark-blue: #0050a0 !default;
$cnrs-secondary-cyan: #2d9bb4 !default;

$cnrs-insb: #eb004e !default;
$cnrs-inc: #007faa !default;
$cnrs-inee: #008000 !default;
$cnrs-inshs: #b2003c !default;
$cnrs-insis: #f00000 !default;
$cnrs-insmi: #007a7c !default;
$cnrs-inp: #0045e5 !default;
$cnrs-ins2i: #a800e5 !default;
$cnrs-in2p3: #db3a00 !default;
$cnrs-insu: #e0009d !default;
