$header-color: #0050a0 !default;
$footer-color: #00264c !default;

$link: #337ab7 !default;

$lightest-white: #f5f5ff !default;
$white: #fff !default;
$black: #000 !default;
$darkblue: #00008b !default;
