@import "src/app/scss/colors";

#nav {
  display: flex;
  justify-content: center;
  padding: 1rem 50px 2rem;

  #nav-container {
    margin-right: auto;
    margin-left: auto;
    border-bottom: $white solid 1px;

    .nav-button {
      height: 51px;
      padding: 15px 20px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      color: $white;
      text-transform: none;
      background-color: rgb(0 40 75 / 0%);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      transition-duration: .25s;
    }

    .nav-button:hover {
      background-color: $nav-button-hover;
    }

    #active-nav-button {
      color: $text;
      background-color: $nav-button-active;
    }

    #active-nav-button-dark {
      color: $white;
      background-color: $nav-button-hover;
      border-color: $white;
      border-style: solid;
      border-top-width: 1px;
      border-right-width: 1px;
      border-left-width: 1px;
    }
  }
}
