@import "src/app/scss/colors";
@import "src/app/scss/link";

.table-list-title {
  color: $cnrs-secondary-blue;
}

.table-bookmark-size {
  margin-bottom: auto;
}

.table-bookmark {
  display: flex;
  pointer-events: none;
  transform: translate(0, -56px);

  .table-bookmark-button {
    margin-right: 38px;
    margin-left: auto;
    pointer-events: auto;
  }
}

.table-list-body {
  display: flex;
  flex-direction: column;
  font-size: 13px;

  span {
    display: flex;

    dt,
    dd {
      line-height: 1.42857143;
    }

    dt {
      flex: 0 1 15%;
      font-weight: 700;
      text-align: right;
    }

    dd {
      flex: 9;
    }
  }
}
