@import "src/app/scss/colors";

$border-width: 2px !default;
$border-radius: 8px !default;

.table-history {
  display: grid;
  grid-template-columns: 22.5% 10% 22.5% 22.5% auto;
  grid-auto-flow: column;
  padding: 2px;
  background-color: $background;
  background-image: linear-gradient(rgba(255, 255, 255, .05), rgba(255, 255, 255, .05));
  border: $table-border solid $border-width;
  border-bottom-width: 0;

  .table-history-box {
    padding: 6px;
    color: $text;
    border-right: $table-border solid $border-width;

    .table-history-box-actions-buttons {
      display: flex;
      padding-bottom: 2px;
      padding-left: 12px;
    }

    .table-history-box-actions-button {
      min-width: 24px;
      margin-right: 4px;
    }
  }

  .table-history-box:last-child {
    border-right-width: 0;
  }
}

.table-history-first {
  font-size: 1.25em;
  border-top-width: $border-width;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.table-history-last {
  margin-bottom: 25px;
  border-bottom-width: $border-width;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.table-history-grey {
  background-image: linear-gradient(rgba(0, 0, 0, .075), rgba(0, 0, 0, .075));
}

.table-history-grey-dark {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
}

.table-history:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .025), rgba(0, 0, 0, .025));
}

.table-history-dark:hover {
  background-image: linear-gradient(rgba(255, 255, 255, .075), rgba(255, 255, 255, .075));
}

.table-history-grey:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.table-history-grey-dark:hover {
  background-image: linear-gradient(rgba(255, 255, 255, .125), rgba(255, 255, 255, .125));
}
