@import "src/app/scss/app";
@import "src/app/scss/colors";

#research-data-chips {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;

  #research-data-by {
    margin-right: 10px;
    color: $white;
  }
}
