@import "src/app/scss/colors";

#search-container {
  padding: 1em 50px;

  #search-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 16px;

    div {
      width: 100%;

      #search-box-input {
        padding: 6px 12px;
      }
    }

    #search-box-divider {
      height: 28px;
      margin: .5px;
    }
  }
}
