#alert {
    width: fit-content;
    min-width: 35%;
    max-width: 60%;
    padding: 16px;
    margin: 4px auto;
    border-color: rgba(255,0,0,.5);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 4px -1px rgba(255,0,0,.2), 0 4px 5px 0 rgba(255,0,0,.14), 0 1px 10px 0 rgba(255,0,0,.12);
}
