@import "src/app/scss/app";
@import "src/app/scss/search_page";

#article-chips {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

#article-action {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  margin-left: auto;

  .article-action-element {
    margin-left: 8px;
  }
}
