@import "src/app/scss/colors";

body {
    min-height: 100vh;
    margin: 0;
    line-height: 2.2rem;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app-container {
    flex: 1;
}

#head {
    background-color: $header-color;
}
