#facet {
  position: sticky;
  top: 18px;
  padding: 10px;
  margin-left: -2rem;

  #facet-title {
    margin: 0;
    font-size: 1.475em;
  }

  .facet-divider {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  .facet-field {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
