@import "src/app/scss/colors";
@import "src/app/scss/link";
@import "src/app/scss/app";
@import "src/app/scss/cms";

#tests-news {
  display: flex;

  #tests-news-nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-right: 40px;
  }

  #tests-news-content {
    width: 100%;
  }

  .tests-news-title {
    color: $link;
  }
}

.news-footer {
  display: flex;

  .news-footer-text {
    margin-top: auto;
    margin-bottom: auto;
  }

  .news-footer-button {
    margin-left: auto;
  }
}

.individual-news {
  width: 85%;
  padding: 8px 16px 16px;
  margin-right: auto;
  margin-left: auto;
}
