@import "src/app/scss/colors";
@import "src/app/scss/link";
@import "src/app/scss/app";
@import "src/app/scss/cms";

#tests-news-content {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.tests-news-title {
  color: $link;
}

.news-footer {
  display: flex;

  .news-footer-text {
    margin-top: auto;
    margin-bottom: auto;
  }

  .news-footer-button {
    margin-left: auto;
  }
}

.individual-news {
  padding: 8px 16px 16px;
}
