@import "src/app/scss/colors";
@import "src/app/scss/link";
@import "src/app/scss/app";
@import "src/app/scss/cms";

#tests-news {
  display: flex;

  #tests-news-nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-right: 40px;
  }

  #tests-news-content {
    width: 100%;
  }

  .tests-news-title {
    color: $link;
  }
}
